{# @var field \craftplugins\formbuilder\models\components\AbstractElement -#}

{% set headingHtml -%}
  {% if field.labelText or field.instructionsText -%}
    <div class="{{ field.headingClass }}">
      {% if field.labelText -%}
        <label for="{{ field.inputId }}" class="{{ field.labelClass }}">
          {{ field.labelText|raw }}
        </label>
      {% endif -%}
      {% if field.instructionsText -%}
        <div class="{{ field.instructionsClass }}">
          {{ field.instructionsText|raw }}
        </div>
      {% endif -%}
    </div>
  {% endif -%}
{% endset -%}

{% set controlHtml -%}
  <div class="{{ field.controlClass }}">
    {{ field.controlHtml }}
  </div>
{% endset -%}

<div class="{{ field.fieldClass }}">
  {% if field.type in ['checkbox', 'radio'] -%}
    {{ controlHtml }}
    {{ headingHtml }}
  {% else -%}
    {{ headingHtml }}
    {{ controlHtml }}
  {% endif -%}
</div>
